.intro {
  height: 75vh;
  padding-top: 8vh;
  margin-bottom: 5vh;
  .color {
    margin-right: 4vw;
    padding-left: 6vw;
    font-family: Helvetica;
    color: #2c6b5a;
    display: flex;
    flex-direction: column;
    text-align: left;
    h3 {
      font-size: 100px;
      margin-bottom: 44px;
    }
    .description {
      font-size: 30px;
      margin-right: 35vw;
    }
    p {
      font-size: 25px;
    }
    div {
      width: 30vw;
      height: 15vh;
      margin-top: 30px;
      margin-bottom: -30px;
      align-self: center;
      text-align: center;
      p {
        font-size: 40px;
      }
      .fa {
        font-size: 40px;
      }
    }
  }
}
.water-color {
  background-image: url("../images/bgll.png");
  background-size: 100% 100%;
  background-color: #96efd9;
  margin-right: 7vw;
  z-index: -4;
}
.front {
  position: absolute;
  z-index: 2;
}
